/* Définition des polices personnalisées */

@font-face 
{
    font-family: 'ralewaythin_italic';
    src: url('fonts/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Réinitialiser */
body 
{
    margin : 0px;
    margin-right: 50px;
    margin-left: 50px;
}

ul
{
    padding: 0;
}

input
{
    padding :0;
}

figure
{
    margin-inline-start: 0;
}

p
{
    margin-block-start: 0;
    margin-block-end: 0;
}

h1
{
    margin-block-start: 0;
    margin-block-end: 0;
}

li{
    display: flex;
    text-align: center;
    margin: 0px;
}

.fas
{
    margin: 0px;
}

a
{
    text-decoration: none;
}

/* Eléments principaux de la page */

body
{
    font-family: 'ralewaythin', 'ralewaythin_italic';
}

#bloc_page
{
    width: 1200;
    margin: auto;
}

section h1, section h2, section h3, aside h2, aside h3, footer h3, footer a , ul
{
    font-family: 'ralewaythin';
    font-weight: normal;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family: 'ralewaythin', 'ralewaythin_italic';
}

#logo
{
    display: flex;
    align-items: baseline;
}

#logo img
{
    min-width: 40px;
    height: 50px;
}

/* Navigation */

nav ul 
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 30px;
    margin-left: 10px;
}

nav a
{
    font-size: 0.8em;
    color: #181818;
    padding-top: 40px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}


/* Corps */

section h1
{
    font-weight: bolder;
}

h1
{
    margin-block-end: 0.3em;
}

.fa-map-marker-alt
{
    display: flex;
    justify-content: center;
    border-style: none;
    background-color: #F2F2F2;
    padding: 12px 15px 12px 20px;
    border-radius: 10px 0px 0px 10px;
}

input
{
    height: 40px;
    width: 160px;
    border-right: none;
    border-right-width: 0px;
    border-radius: 0px;
    padding-left: 5px;
    border-image: none;
    border-color: #F2F2F2;
    border-style: solid;
    font-weight: bold
}

button
{
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    border-style:none ;
    height: 40px;
    width: 90px;
    color: white;
}

#Filtres
{
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    font-style:normal;
    font-weight: bolder;
}

.filter
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-radius: 30px 30px 30px 30px;
    border-color: #F2F2F2;
    font-weight: bolder;
}

.circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: -2px;
}

a
{
    padding-left: 10px;
    padding-right: 10px;
}
.fa-money-bill-wave
{
    display:flex;
    justify-content: center;
    color: #0065FC;
}

.fa-child
{
    display:flex;
    background-color: #DEEBFF;
    color: #0065FC;
}

.fa-heart
{
    display:flex;
    background-color: #DEEBFF;;
    color: #0065FC;
}

.fa-dog
{
    display:flex;
    background-color: #DEEBFF;
    color: #0065FC;
}

#info
{
    display: flex;
    align-items: center;
    justify-content: flex start;
    font-style:normal;
}

.circle_info
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: -2px;
}

.fa-info
{
    display:flex;
    color: #0065FC;
}

section ul 
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

aside ul 
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

/* Footer */

