/* -------- Réinitialiser -------- */
body 
{
    margin : 0px;
    margin-right: 50px;
    margin-left: 50px;
}

ul
{
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    
}

input
{
    padding :0;
}

figure
{
    margin-inline-start: 0;
}

p
{
    margin-block-start: 0;
    margin-block-end: 0;
}

h1
{
    margin-block-start: 0;
    margin-block-end: 0;
}

li{
    display: flex;
    text-align: center;
    margin: 0px;
}

.fas
{
    margin: 0px;
}

a
{
    text-decoration: none;
    color: black;
}

h2
{
    margin-block-start: 0;
    margin-block-end: 0;
}

h3
{
    margin-block-start: 0;
    margin-block-end: 0;
}
/* -------- Eléments principaux de la page -------- */

html
{
    height: 100%;
}

body
{
    font-family: 'Raleway', sans-serif;
    height:100%;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/* -------- Header -------- */

header
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    align-content: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

#logo
{
    display: flex;
    align-items: baseline;
}

#logo img
{
    min-width: 40px;
    height: 60px;
}

/* -------- Navigation -------- */

nav ul 
{
    list-style-type: none;
    display: flex;
    margin-block-start: auto;
    margin-inline-start: auto;
}

nav li
{
    margin-right: 30px;
    margin-left: 10px;
    padding-top: 0px;
}

.hovernav
{
    font-size: 1.3em;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 3px solid white;
}
.hovernav a:hover
{
    color:#0065FC
}

.hovernav:hover
{
    border-top: 3px solid #0065FC;
}

#login
{
    font-size: 1.3em;
    padding-top: 50px;
    padding-bottom: 20px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 3px solid white;
}

#login a
{
    color: #0065FC;
}

/* -------- Corps -------- */

#sectionsearch
{
    margin-left: 50px;
    margin-right: 50px;
}

section ul 
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-block-end: 0.3em;
    font-size: 1.8em;
}

section p
{
    font-size: 1.32em;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#searchtool
{
    margin-bottom: 40px;
}

#Markmaper
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-style: none;
    background-color: #F2F2F2;
    border-radius: 17px 0px 0px 17px;
    height:63px;
    width: 65px;
}

input
{
    height: 63px;
    width: 310px;
    border-right: none;
    border-right-width: 0px;
    border-radius: 0px;
    border-image: none;
    border-color: #F2F2F2;
    border-style: solid;
}

::placeholder
{
    color: black;
    font-weight: 700;
}

button
{
    background-color: #0065FC;
    border-radius: 0px 17px 17px 0px;
    border-style:none ;
    height: 63px;
    width: 180px;
    color: white;
}
.search
{
    font-size: 1.5em;
    font-weight: 500;
    color:black;
    padding-left: 20px;
    letter-spacing: auto;
    word-spacing: 2px;
}

#Filtres
{
    align-items: center;
    justify-content: space-between;
    font-style:normal;
    font-weight: 600;
    font-size: 1.65em;
    padding-left: 10px;
    margin-inline-end: 500px;
    margin-bottom: 40px;
}

.filter
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    height:55px;
    border-radius: 30px 30px 30px 30px;
    border-color: #F2F2F2;
    font-weight: 700;
    margin: 5px;
}

.circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#DEEBFF;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    margin: -7px;
}

a
{
    padding-left: 15px;
    padding-right: 15px;
}
.fa-money-bill-wave
{
    display:flex;
    justify-content: center;
    color: #0065FC;
}

.fa-child
{
    display:flex;
    color: #0065FC;
}

.fa-heart
{
    display:flex;
    justify-content: center;
    color: #0065FC;
}

.fa-dog
{
    display:flex;
    justify-content: center;
    color: #0065FC;
}

#info
{
    display: flex;
    align-items: center;
    justify-content: flex start;
    font-style:normal;
    padding-inline-start: 10px;
    margin-bottom: 40px;
}

#text_info
{
    padding-inline-start: 10px;
    font-size: 1.36em;
}

.circle_info
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.fa-info
{
    display:flex;
    color: #0065FC;
}


/* ---------- Main ---------- */

strong
{
    font-weight: 900;
}

h2
{
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    height:50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#bloc
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#bloc_gauche
{
    display: flex;
    justify-content: space-between;
    border-style: none;
    flex-wrap: wrap;
    border-radius: 30px 30px 30px 30px;
    background-color: #F2F2F2;
    width: 1130px;
    height: 700px;
    padding: 20px 50px 40px 50px;
    margin: 20px 0px 20px 0px;
}


#Hebergements
{
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.banniere
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 70px;
    padding-left: 5px;
    padding-bottom: 15px;
    padding-top: 5px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    text-align:left;
    line-height: 1.5em;
    list-style-type: none;
    
}
.banniere h3
{
    padding-bottom: 5px;
}

.hovercard li:hover
{
    opacity: 80%;
    color: #0065FC;
    padding: 0px;
}

a.hovercard 
{
    padding: 0px;
}

#auberge
{
    display: flex;
    height: 240px;
    width: 310px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Auberge_la_Cannebiere_small.jpg) no-repeat;
    background-size: 320px 150px;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px grey;
}

#Hotel_port
{
    display: flex;
    height: 240px;
    width: 310px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_du_port.jpg) no-repeat top;
    background-size: 320px 170px;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px grey;
}

#Hotel_mouettes
{
    display: flex;
    height: 240px;
    width: 310px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_les_mouettes.jpg) no-repeat;
    background-size: 330px 180px;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px grey;
}

#Hotel_mer
{
    display: flex;
    height: 240px;
    width: 310px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_de_la_mer.jpg) no-repeat;
    background-size: 310px 170px ;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px grey;
}

#Auberge_panier 
{
    display: flex;
    height: 240px;
    width: 310px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Auberge_le_panier.jpg) no-repeat;
    background-size: 320px 160px;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px grey;
}

#Hotel_amina
{
    display: flex;
    height: 240px;
    width: 310px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_chez_amina.jpg) no-repeat;
    background-size: 320px 210px;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px grey;
}

.fa-star
{
    display:flex;
    color: #0065FC;
}

.grey_star
{
    display:flex;
    color: #F2F2F2;
}
#bloc_gauche p
{
    font-size: 1.3em;
    font-weight: 700;
    padding-left: 5px;
    margin-bottom: 0;
    padding-top: 10px;
}
#bloc_droite
{
    display: flex;
    justify-content: space-between;
    border-style: none;
    flex-wrap: wrap;
    border-radius: 30px 30px 30px 30px;
    background-color: #F2F2F2;
    width: 460px;
    height: 700px;
    padding: 20px 30px 40px 30px;
    margin-top: 20px;
}

.fa-chart-line
{
    display: flex;
    padding-top: 30px;
    padding-right: 25px;
}
#Populaires
{
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.banniere_droite
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 20px 20px 0px;
    width: 60%;
    height: 100%;
    background-color: white;
    font-size: 1.1em;
    text-align:left;
    line-height: 1.5em;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 5px;
}
.banniere_droite p
{
    padding-top: 10px;
}
.banniere_droite h3
{
    padding-bottom: 5px;
    width: 200px;
}
.banniere_droite ul
{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

#Hotel_soleil
{
    display: flex;
    justify-content:flex-end;
    height: 160px;
    width: 430px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_le_soleil.jpg) no-repeat left/60% ;
    position: relative;
    margin-bottom: 35px;
    box-shadow: 1px 1px 5px grey;
}

#Coeur_eau
{
    display: flex;
    justify-content:flex-end;
    height: 160px;
    width: 430px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Au_coeur_de_leau.jpg) no-repeat left/50% ;
    position: relative;
    margin-bottom: 35px;
    box-shadow: 1px 1px 5px grey;
}

#Hotel_bleublanc
{
    display: flex;
    justify-content:flex-end;;
    height: 160px;
    width: 430px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_tout_bleu.jpg) no-repeat left/40% ;
    position: relative;
    box-shadow: 1px 1px 5px grey;
}

#sectionactivite
{
    margin-left: 50px;
    margin-right: 50px;
}

#Activites
{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    flex-wrap:wrap;
    height: 550px;
    margin-bottom: 50px;
}

.banniere2
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 60px;
    background-color: white;
    font-size: 0.9em;
    font-weight: 700;
    text-align: left;
    line-height: 1em;
    list-style-type: none;
}

.banniere2 p
{
    margin: 0px;
    padding: 20px 0px 10px 20px;
}

#vieux_port
{
    display: flex;
    height: 550px;
    width: 400px;
    background: url(images/Vieux_port.jpg) no-repeat top;
    background-size: 850px 550px;
    border-radius: 30px;
    position: relative;
    box-shadow: 2px 2px 5px grey;
}

#Fort_promegues
{
    display: flex;
    height: 300px;
    width: 400px;
    background: url(images/Fort_Promègues.jpg) no-repeat center;
    background-size: 410px 570px;
    border-radius: 30px;
    position: relative;
    box-shadow: 2px 2px 5px grey;
}

#iles_frioul
{
    display: flex;
    height: 220px;
    width: 400px;
    background: url(images/Iles_Frioul.jpg) no-repeat top/100%;
    border-radius: 30px;
    position: relative;
    box-shadow: 2px 2px 5px grey;
}

#calanques
{
    display: flex;
    height: 550px;
    width: 400px;
    background: url(images/Parc_Calanques.jpg) no-repeat center;
    background-size: 800px 550px;
    border-radius: 30px;
    position: relative;
    box-shadow: 2px 2px 5px grey;
}

#lagarde
{
    display: flex;
    height: 220px;
    width: 400px;
    background: url(images/Notre_Dame_de_la_Garde.jpg) no-repeat center;
    background-size: 400px;
    border-radius: 30px;
    position: relative;
    box-shadow: 2px 2px 5px grey;
}

#Longchamp
{
    display: flex;
    height: 300px;
    width: 400px;
    background: url(images/Parc_Longchamp.jpg) no-repeat center;
    background-size: 400px 350px;
    border-radius: 30px;
    position: relative;
    box-shadow: 2px 2px 5px grey;
}

/*  ---------- Footer  ---------- */

#footer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    height: 300px;
    background-color: #F2F2F2;
}

#listes_A_propos
{
    margin-left: 50px;
}

#listes_A_propos a
{
    padding: 0px;
}

#Nos_Hébergements a
{
    padding: 0px;
}

#Assistance
{
    padding: 0px;
}