/* -------- Réinitialiser -------- */
body 
{
    margin : 0px;
    margin-right: 50px;
    margin-left: 50px;
}

ul
{
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    
}

input
{
    padding :0;
}

figure
{
    margin-inline-start: 0;
}

p
{
    margin-block-start: 0;
    margin-block-end: 0;
}

h1
{
    margin-block-start: 0;
    margin-block-end: 0;
}

li{
    display: flex;
    text-align: center;
    margin: 0px;
}

.fas
{
    margin: 0px;
}

a
{
    text-decoration: none;
    color: black;
}

h2
{
    margin-block-start: 0;
    margin-block-end: 0;
}

h3
{
    margin-block-start: 0;
    margin-block-end: 0;
}
/* -------- Eléments principaux de la page -------- */

body
{
    font-family: 'Raleway', sans-serif;
}

/* -------- Header -------- */

header
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    align-content: center;
    font-family: 'Raleway', sans-serif;
}

#logo
{
    display: flex;
    align-items: baseline;
}

#logo img
{
    min-width: 40px;
    height: 60px;
}

/* -------- Navigation -------- */

nav ul 
{
    list-style-type: none;
    display: flex;
    margin-block-start: auto;
    margin-inline-start: auto;
}

nav li
{
    margin-right: 30px;
    margin-left: 10px;
    padding-top: 0px;
}

.hover
{
    font-size: 1.3em;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 3px solid white;
}
.hover a:hover
{
    color:#0065FC
}

.hover:hover
{
    border-top: 3px solid #0065FC;
}

#login
{
    font-size: 1.3em;
    padding-top: 50px;
    padding-bottom: 20px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 3px solid white;
}

#login a
{
    color: #0065FC;
}

/* -------- Corps -------- */

section ul 
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-block-end: 0.3em;
    font-size: 1.8em;
}

section p
{
    font-size: 1.32em;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#searchtool
{
    margin-bottom: 40px;
}

#Markmaper
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-style: none;
    background-color: #F2F2F2;
    border-radius: 17px 0px 0px 17px;
    height:63px;
    width: 65px;
}

input
{
    height: 63px;
    width: 310px;
    border-right: none;
    border-right-width: 0px;
    border-radius: 0px;
    border-image: none;
    border-color: #F2F2F2;
    border-style: solid;
}

::placeholder
{
    color: black;
    font-weight: 700;
}

button
{
    background-color: #0065FC;
    border-radius: 0px 17px 17px 0px;
    border-style:none ;
    height: 63px;
    width: 180px;
    color: white;
}
.search
{
    font-size: 1.5em;
    font-weight: 500;
    color:black;
    padding-left: 20px;
    letter-spacing: auto;
    word-spacing: 2px;
}

#Filtres
{
    align-items: center;
    justify-content: space-between;
    font-style:normal;
    font-weight: 600;
    font-size: 1.65em;
    padding-left: 10px;
    margin-inline-end: 500px;
    margin-bottom: 40px;
}

.filter
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    height:55px;
    border-radius: 30px 30px 30px 30px;
    border-color: #F2F2F2;
    font-weight: 700;
}

.circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#DEEBFF;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    margin: -7px;
}

a
{
    padding-left: 15px;
    padding-right: 15px;
}
.fa-money-bill-wave
{
    display:flex;
    justify-content: center;
    color: #0065FC;
}

.fa-child
{
    display:flex;
    color: #0065FC;
}

.fa-heart
{
    display:flex;
    justify-content: center;
    color: #0065FC;
}

.fa-dog
{
    display:flex;
    justify-content: center;
    color: #0065FC;
}

#info
{
    display: flex;
    align-items: center;
    justify-content: flex start;
    font-style:normal;
    padding-inline-start: 10px;
    margin-bottom: 40px;
}

#text_info
{
    padding-inline-start: 10px;
    font-size: 1.36em;
}

.circle_info
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.fa-info
{
    display:flex;
    color: #0065FC;
}


/* ---------- Main ---------- */

strong
{
    font-weight: 900;
}

h2
{
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    height:50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#bloc
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#bloc_gauche
{
    display: flex;
    justify-content: space-between;
    border-style: none;
    flex-wrap: wrap;
    border-radius: 30px 30px 30px 30px;
    background-color: #F2F2F2;
    width: 1125px;
    height: 700px;
    padding: 20px 50px 40px 50px;
    margin: 20px;
    
}

#Hebergements
{
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.banniere
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 30px 20px;
    width: 100%;
    height: 70px;
    padding-left: 5px;
    padding-bottom: 15px;
    padding-top: 5px;
    background-color: white;
    font-size: 1.1em;
    text-align:left;
    line-height: 1.5em;
    list-style-type: none;
    
}
.banniere h3
{
    padding-bottom: 5px;
}

#auberge
{
    display: flex;
    height: 250px;
    width: 320px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Auberge_la_Cannebiere_small.jpg) no-repeat top/100%;
    position: relative;
    margin-bottom: 25px;
}

#Hotel_port
{
    display: flex;
    height: 250px;
    width: 320px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_du_port.jpg) no-repeat top/100%;
    position: relative;
    margin-bottom: 25px;
}

#Hotel_mouettes
{
    display: flex;
    height: 250px;
    width: 320px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_les_mouettes.jpg) no-repeat top/100%;
    position: relative;
    margin-bottom: 25px;
}

#Hotel_mer
{
    display: flex;
    height: 250px;
    width: 320px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_de_la_mer.jpg) no-repeat top/100%;
    position: relative;
    margin-bottom: 25px;
}

#Auberge_panier 
{
    display: flex;
    height: 250px;
    width: 320px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Auberge_le_panier.jpg) no-repeat top/100%;
    position: relative;
    margin-bottom: 25px;
}

#Hotel_amina
{
    display: flex;
    height: 250px;
    width: 320px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_chez_amina.jpg) no-repeat top/100%;
    position: relative;
    margin-bottom: 25px;
}

.fa-star
{
    display:flex;
    color: #0065FC;
}

.grey_star
{
    display:flex;
    color: #F2F2F2;
}
#bloc_gauche p
{
    font-size: 1.3em;
    font-weight: 700;
    padding-left: 5px;
    margin-bottom: 0;
    padding-top: 10px;
}
#bloc_droite
{
    display: flex;
    justify-content: space-between;
    border-style: none;
    flex-wrap: wrap;
    border-radius: 30px 30px 30px 30px;
    background-color: #F2F2F2;
    width: 550px;
    height: 700px;
    padding: 20px 50px 40px 50px;
    margin: 20px;
}

#Populaires
{
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.banniere_droite
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 30px 30px 0px;
    width: 60%;
    height: 100%;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background-color: white;
    font-size: 1.1em;
    text-align:left;
    line-height: 1.5em;
    list-style-type: none; 
}

.banniere_droite ul
{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

#Hotel_soleil
{
    display: flex;
    justify-content:flex-end;
    height: 200px;
    width: 500px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_le_soleil.jpg) no-repeat ;
    position: relative;
    margin-bottom: 25px;
}

#Coeur_eau
{
    display: flex;
    justify-content:flex-end;
    height: 200px;
    width: 500px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Au_coeur_de_leau.jpg) no-repeat ;
    position: relative;
    margin-bottom: 25px;
}

#Hotel_bleublanc
{
    display: flex;
    justify-content:flex-end;;
    height: 200px;
    width: 500px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    background: url(images/Hôtel_tout_bleu.jpg) no-repeat ;
    position: relative;
    margin-bottom: 25px;
}
/*  ---------- Footer  ---------- */

